page-play {
  .scroll-content {
    overflow: hidden;
  }
  textarea {
    width: 100%;
    resize: vertical;
    height: 400px;
  }
  #drawScore .cursor {
    background-color: #ffffc0;
    opacity: 0.5;
  }
}
