page-radial {
  // OVERALL
  .scroll-content {
    overflow: hidden;
  }
  #radialPiano {
    position: absolute;
    bottom: 20px;
    margin: 20px;
    max-height: 50%;
    pointer-events: all;
  }
  #major, #minor, #rest {
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  .deactivated {
    pointer-events: none !important;
  }

  // MAJOR CIRCLE
  #major g path {
    stroke: black;
  }
  #major g path {
    fill: white
  }
  #major g text {
    fill: black;
    font-size: 90px;
  }
  #major g:active path {
    fill: black;
  }
  #major g:active text {
    fill: white;
  }

  .octaveNumber {
    font-size: 50px !important;
  }

  // MINOR CIRCLE
  #minor g path {
    stroke: white;
  }
  #minor g path {
    fill: black;
  }
  #minor g text {
    fill: white;
    font-size: 36px;
  }
  #minor g:active path {
    fill: white;
  }
  #minor g:active text {
    fill: black;
  }

  // REST CIRCLE
  #rest g path {
    fill: white;
  }
  #rest circle {
    stroke: black;
  }
  #rest:active circle {
    fill: white;
  }
  #rest:active g path {
    fill: black;
  }
}
