page-linear {
  #piano text {
    pointer-events: none;
  }
  .octaveNum {
    font-size: .7em;
  }

  #pianoScroller {
    background-color: grey;
  }

  #piano-container {
    width: 450vw;
  }

  .white {
    fill: white;
    stroke-width: 1;
    stroke: grey;
  }
  .white:active {
    fill: grey;
  }
  .undo-button {
    fill: black;
  }
  .undo-button:active {
    fill: red;
  }
  .black {
    fill: black;
    stroke-width: 1;
    stroke: black;
  }
  .black:active {
    fill: grey;
  }
  .wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
  }

  // MUSIC SHEETS
  #scoreScroller {
  }
  #drawScore {
  }
  #drawScore .cursor {
    background-color: #ffffc0;
    opacity: 0.5;
  }

  // BUTTONS
  .contIcons {
    cursor: pointer;
  }
  #playAll {
    padding-left: 17px;
    padding-right: 17px;
  }
}
